  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }

 #profile-card {
    color: white;
    background-color: #1e1e2e;
    padding: 2rem;
  }
